<%- include('partials/head')%>

    <title>Register | Aphonistar</title>

</head>
<body>
    <%- include('partials/nav')%>

    
    <section class="register">
      <h2 class="register-h2">Your very first home of Phasion</h2>
      <div class="register-div">
          <p class="register-p">Register your Clothing Line below</p>
          <form action="/register" class="register-form" method="POST">
              <div class="register-wrap">
                  <label for="name" class="register-label">Name</label>
                  <input class="register-input" type="text" name="name" id="name" placeholder="Your Name" autocomplete="off">
              </div>
              <div class="register-wrap">
                  <label for="phasionName" class="register-label">Phasion Name</label>
                  <input class="register-input" type="text" name="username" id="phasionName" placeholder="Your phasionName" autocomplete="off">
                  <!-- <input type="text" name="phasionName" id="phasionName" placeholder="Your phasionName" autocomplete="on"> -->
              </div>
              <div class="register-wrap">
                  <label for="email" class="register-label">Email</label>
                  <input class="register-input" type="email" name="email" id="email" placeholder="Your Mail" autocomplete="off">
              </div>
              <div class="register-wrap">
                  <label for="password" class="register-label">Password</label>
                  <input class="register-input" type="password" name="password" id="password" placeholder="Create Password" autocomplete="off">
              </div>
              <div class="register-wrap">
                  <button class="register-button" type="submit" name="registerBtn" class="btn">Register</button>
              </div>
          </form>
      </div>
  </section>


  <%- include('partials/footer')%>      
</body>

</html>