<%- include('partials/head')%>
    <title>Home | Aphonistar</title>
</head>
<body>

    <%- include('partials/nav')%>
      <form>
              <!-- <div class="form-group">
                  <label for="message">Message</label>
                  <textarea type="text" name="message" id="message" placeholder="Drop Your Message Here"></textarea>
              </div> -->
      </form>


      <h1>You are welcome</h1>

    <%- include('partials/footer')%>
</body>

</html>

    





