*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.footer-wrapper{
    width: 100%;
    background-color: black;
    padding: 5px;
}

.footer-div{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: black;
}

.footer-p{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}