*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home-page{
    width: 100%;
}

.home-wrapper{
    width: 100%;
    padding: 10px;
    /* background-color: rgb(42, 41, 41); */
    background-color: gold;
}

.home-heading{
    margin-top: 100px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    justify-content: center;
}
.home-li,
.home-h2{
    display: flex;
    justify-content: center;
    color: white;
}

.home-ul{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.home-image-container{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 5px;
}

.home-image{
    width: 40%;
    margin: 5px 30% 20px 30%;
    height: 200px;
    border-radius: 10px;
}

.home-list-item{
    margin-bottom: 30px;
    list-style-type: none;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}

.measure {
    display: block;
    width: 50% 0 0;
    margin-left: 25%;
    margin-right: 25%;
    height: 40px;
}