<%- include('../partials/head')%>
    <title>How To Measure | Aphonistar</title>
</head>
<body>
    <%- include('../partials/nav')%>
    <section class="measure-section">
        <h1 class="measure-header">How to carefully take your measurements</h1>
        <div class="wrapper">
            <div class="covers">
                <h1 class="measure_header">Neck circumference</h1>
                <p class="measure_p">Measure the circumference around your neck, with the tape slightly beneath Adam’s apple, making sure not to pull the tape measure tight. Don’t stretch your neck and don’t draw your chin downwards, stand relaxed.</p>
            </div>
            <div class="covers">
                    <h1 class="measure_header">Chest circumference</h1>
                    <p class="measure_p">Measure the circumference around your chest, with the tape beneath your armpits, in line with your nipples. Make sure to hold the tape horizontally. Relax your arms at your sides and breathe normally, so as to get a correct chest measurement.</p>
            </div>
            <div class="covers">
                    <h1 class="measure_header">Shoulder width</h1>
                    <p class="measure_p">Measure your shoulder width from the outside edge of the left shoulder (basically where the sleeve of your shirt starts), to the outside edge of the right shoulder. The tape shouldn’t be perfectly straight, but it should follow the natural curve of your back, touching the most prominent bone below your neck.</p>
            </div>
            <div class="covers">
                    <h1 class="measure_header">Arm length</h1>
                    <p class="measure_p">Relax your arms and measure them in two different sessions: start from where you ended the shoulder measuring, in other words the outside edge of the shoulder (where the sleeve of your shirt starts), and measure to your elbow. Continue to measure from your elbow to just below your wrist bone, hugging the shape of your arm.</p>
            </div>
            <div class="covers">
                    <h1 class="measure_header">Bicep circumference</h1>
                    <p class="measure_p">Relax your arms at your sides and wrap the tape measure around the largest point of both of your biceps. Submit the largest value of the two.</p>
            </div>
            <div class="covers">
                    <h1 class="measure_header">Wrist circumference</h1>
                    <p class="measure_p">Wrap the tape measure around your wrist, just below your wrist bone. Submit the largest value of the two.</p>
            </div>
            <div class="covers">
                    <h1 class="measure_header">Back length</h1>
                    <p class="measure_p">Low your head a little and measure from the most prominent bone below your neck, to the back of your crotch (1 cm below your rear). Use the measurement of a jacket that fits you, if you feel like: just measure the centre back seam of your jacket, without including the collar.</p>
            </div>
            <div class="covers>
                <h1 class="measure_header">Stomach circumference</h1>
                    <p class="measure_p">Relax and don’t hold your breath (don’t suck in your stomach!). Wrap the tape around your stomach and in line with your belly button. Make sure to keep the tape measure horizontal.</p>
            </div>
            <div class="covers">
                    <h1 class="measure_header">Waistline</h1>
                    <p class="measure_p">Measure four fingers down from your belly button, without holding your breath. Make sure to keep the tape measure horizontal and that your trousers don’t interfere with the measurement</p>
            </div>
            <div class="covers">
                    <h1 class="measure_header">Hip circumference</h1>
                    <p class="measure_p">Wrap the tape measure around your hips, at the widest point of your buttocks, usually slightly above the crotch line, keeping the tape measure horizontal.</p>
            </div>
            <div class="covers">
                    <h1 class="measure_header">Inside leg</h1>
                    <p class="measure_p">Take off your shoes and stand with your legs slightly wide apart. Measure from the highest centre point of the thigh (below the crotch line) to the floor, following the natural shape of the inside leg. Pull the tape just taut enough.</p>
            </div>
            <div class="covers">
                    <h1 class="measure_header">Thigh</h1>
                    <p class="measure_p">Wrap the tape measure around your thigh just below your crotch and submit the largest value of the two. Make sure to keep the tape measure horizontal.</p>
            </div>
            <div class="covers">
                <h1 class="measure_header">Shoulder type</h1>
                <p class="measure_p">there are three different type of shoulders: high, regular, low </p>
            </div>
            <div class="covers">
                <h1 class="measure_header">Chest type</h1>
                <p class="measure_p">Choose your chest type: chiselled, regular, robust</p>
            </div>
            <div class="covers">
                <h1 class="measure_header">Stomach type</h1>
                <p class="measure_p">Choose your stomach type: flat, regular, protruding. Don’t cheat!</p>
            </div>
        </div>
    </section>

    
    
    
  



    
  <%- include('../partials/footer')%>   


</body>
</html>